In [35]:
#Importamos la libreria Pandas para iniciar la 
#Transformación de los datos
import pandas as pd
import numpy as np

In [36]:
# Cargamos los datasets
amazon_prime = pd.read_csv('Datasets/amazon_prime_titles-score.csv', encoding="UTF-8")
disney_plus = pd.read_csv('Datasets/disney_plus_titles-score.csv', encoding="UTF-8")
hulu = pd.read_csv('Datasets/hulu_titles-score (2).csv', encoding="UTF-8")
netflix = pd.read_csv('Datasets/netflix_titles-score.csv', encoding="UTF-8")

In [20]:
#Revison de los datos de los datasets
amazon_prime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
dtypes: int64(2), object(11)
memory usage: 982.0+ KB

In [21]:
#Revison de los datos de los dataset
disney_plus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  score         1450 non-null   int64
dtypes: int64(2), object(11)
memory usage: 147.4+ KB

In [22]:
#Revison de los datos de los dataset
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  score         3073 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 312.2+ KB

In [23]:
#Revison de los datos de los dataset
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  score         8807 non-null   int64
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

In [ ]:
#Transformaciones

In [37]:
#cree una funcion para generar el id con la clave de servicio
def id_generator(data):
    #extraigo el nombre de el data set como string
    name =[x for x in globals() if globals()[x] is data][0]
    #genere una nueva columna llena con la inicial de el servicio
    data['clas']= name[0]
    #sume la columna con la clave de la plataforma y el id en una nueva columna llamada id
    id=data['clas'] + data['show_id']
    #insertol a nueva columna id en la  primer columna dentro de el dataframe 
    data.insert(0,'id',id)
    #elimino la columna creada para la inicial de el servicio
    data=data.drop(columns=['clas'])

    
    return data


# lista de data frames
list_serv=[amazon_prime,disney_plus,hulu,netflix]
#iteracion por lista de dataframes para hacer transformaciones
for ite in list_serv:
        #remplazo e valores nan en rating por 'G'
        ite['rating']=ite["rating"].fillna('G')
        #ejecucion de funcion para crear ids
        id_generator(ite)
        #cambio de formato a fechas
        ite['date_added']=pd.to_datetime(ite['date_added'])
        ite = ite.apply(lambda x: x.str.lower() if x.dtype=='object' else x)
#unificar los data frame de las diferentes servicios en un solo df
df_servicios=pd.concat([amazon_prime,disney_plus,hulu,netflix])
#convertir todas las palabras a lowercase
df_servicios['duration'].replace('nan',np.NaN)
df_servicios = df_servicios.apply(lambda x: x.str.lower() if x.dtype=='object' else x)
#resete los index por que estaban repetidos
df_servicios.reset_index(inplace= True)
df_servicios.drop(columns='index',inplace=True)
#remplace los nan por 0 en la columna duration para pooder dar tipo de dato correcto a columna
df_servicios['duration'].fillna(0,inplace=True)
df_servicios['duration'].value_counts(dropna=False)
#generar dos columnas a partir de columna duration
df_servicios[['duration_int', 'duration_type']] = df_servicios["duration"].apply(lambda x: pd.Series(str(x).split(" ")))
#modificasion en tipo de dato a int en columna duration_int
df_servicios['duration_int'] = df_servicios['duration_int'].astype(int)
#exportar el dataframe a un csv
df_servicios.to_csv(r'C:\Users\berna\OneDrive\Desktop\PI01-Data-Engineering2\DF_Servicios.csv')

df_servicios

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,clas,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,a,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,a,110,min
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,a,74,min
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,a,69,min
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,a,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",20,n,158,min
22994,ns8804,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",8,n,2,seasons
22995,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...,55,n,88,min
22996,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",7,n,88,min
22997,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,44,n,111,min